h1 {
  font-size: 55px;
  color: rgb(209, 239, 253);
}

.readings {
  background-color: white;
  padding: 15px;
  border-radius: 15px;
}

.readings p {
  color: rgb(12, 120, 170);
  font-size: 75px;
  font-family: 'Times New Roman';
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: rgb(54, 37, 2);
}

.headings {
  text-align: end;
}

h5 {
  color: rgb(209, 239, 253);
  font-size: 25px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(56, 53, 56);
}
